/*reset css*/
body {
    font-family: "Microsoft YaHei", sans-serif;
}

a {
    color: #666;
}

a:hover {
    color: #666;
    text-decoration: none;
}

/*使用第三方字体*/
@font-face {
    font-family: wjs_icon_font;
    src: url('../fonts/MiFie-Web-Font.svg') format('svg'),
    url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
    url('../fonts/MiFie-Web-Font.woff') format('woff');
}

.wjs_icon {
    font-family: wjs_icon_font;
}

.wjs_icon_phone::before {
    content: "\e908";
}

.wjs_icon_tel::before {
    content: "\e909";
}

.wjs_icon_logo::before {
    content: "\e920";
}

.wjs_icon_word::before {
    content: "\e93e";
}

.wjs_icon_info::before {
    content: "\e903";
}

.wjs_icon_clock::before {
    content: "\e906";
}

.wjs_icon_video::before {
    content: "\e905";
}

.wjs_icon_news_01::before {
    content: "\e90e";
}

.wjs_icon_news_02::before {
    content: "\e90f";
}

.wjs_icon_news_03::before {
    content: "\e910";
}

.wjs_icon_news_04::before {
    content: "\e911";
}

.wjs_icon_partner01::before {
    content: "\e946";
}

.wjs_icon_partner02::before {
    content: "\e92f";
}

.wjs_icon_partner03::before {
    content: "\e92e";
}

.wjs_icon_partner04::before {
    content: "\e92a";
}

.wjs_icon_partner05::before {
    content: "\e929";
}

.wjs_icon_partner06::before {
    content: "\e931";
}

.wjs_icon_partner07::before {
    content: "\e92c";
}

.wjs_icon_partner08::before {
    content: "\e92b";
}

.wjs_icon_partner09::before {
    content: "\e92d";
}

/*model css*/
.wjs_topBar {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    color: #666;
}

.wjs_topBar > .container {
}

.wjs_topBar > .container > .row {
    line-height: 40px;
    text-align: center;
}

/*.wjs_topBar > .container > .row > div{
    border-left: 1px solid #ccc;
    height: 40px;
}
.wjs_topBar > .container > .row > div:first-child{
    border-left: none;
}*/
/* +,~ 结构性选择器*/
/*
.wjs_topBar > .container > .row > div{
    height: 40px;
}
.wjs_topBar > .container > .row > div + div{
    border-left: 1px solid #ccc;
}*/
.wjs_topBar > .container > .row > div {
    height: 40px;
}

.wjs_topBar > .container > .row > div ~ div {
    border-left: 1px solid #ccc;
}

.wjs_topBar .btn_register {
    background: #e92322;
    font-size: 12px;
    padding: 3px 12px;
}

.wjs_topBar .btn_login {
    color: #666;
    font-size: 12px;
}

.wjs_topBar .btn_login:hover {
    text-decoration: none;
}

/*app下载*/
.wjs_appDown {
    display: block;
    position: relative;
    z-index: 9999;
}

.wjs_appDown > img {
    display: none;
}

.wjs_appDown:hover > img {
    display: block;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -60px;
    border: 1px solid #ccc;
    border-top: none;
}

/*导航栏*/
.wjs_nav {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;

    /*affix*/
    z-index: 9999;
    width: 100%;
    background: #fff;
    border-radius: 0;
    top: 0;
    left: 0;
}

.wjs_nav .wjs_icon_logo {
    color: #e92322;
    font-size: 50px;
    vertical-align: middle;
}

.wjs_nav .wjs_icon_word {
    color: #333;
    font-size: 36px;
    vertical-align: middle;
}

.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}

.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.wjs_nav .navbar-text {
    color: #777;
}

.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}

.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
}

.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
}

.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}

.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7;
}

.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.wjs_nav .navbar-link {
    color: #777;
}

.wjs_nav .navbar-link:hover {
    color: #333;
}

.wjs_nav .btn-link {
    color: #777;
}

.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
    color: #333;
}

.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
}

/*轮播图*/
.wjs_banner {
    border-bottom: 1px solid #ccc;
}

.wjs_banner .pc_imageBox {
    display: block;
    width: 100%;
    height: 410px;

    background: no-repeat center/cover;
}

.wjs_banner .m_imageBox {
    width: 100%;
    display: block;
}

.wjs_banner .m_imageBox img {
    width: 100%;
    display: block;
}

/*信息区块*/
.wjs_info {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.wjs_info .wjs_icon_info {
    font-size: 30px;
}

.wjs_info > .container {
    width: 910px;
}

/*针对小屏设备适配*/
@media (min-width: 768px) and (max-width: 992px) {
    .wjs_info > .container {
        width: 750px;
    }
}

.wjs_info > .container > div {
    padding: 15px 0;
}

.wjs_info > .container > div > a:hover {
    color: #e92322;
}

/*预约*/
.wjs_book {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.wjs_book > .container {
    width: 910px;
}

@media (min-width: 768px) and (max-width: 992px) {
    .wjs_book > .container {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .wjs_book > .container {
        width: 100%;
    }
}

.wjs_book .wjs_icon_clock {
    font-size: 24px;
}

.wjs_book .wjs_icon_video {
    font-size: 20px;
}

.wjs_book .wjs_book_link {
    color: #e92322;
    border-bottom: 1px dashed #e92322;
}

.wjs_book .wjs_book_video:hover {
    color: #e92322;
}

/*产品*/
.wjs_product {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    background: #f5f5f5;
}

.wjs_product .nav-tabs-parent {
    width: 100%;
    overflow: hidden;
}

.wjs_product .nav-tabs {
    border-bottom: 1px solid #ddd;
}

.wjs_product .nav-tabs > li {
    float: left;
    margin-bottom: 0;
    margin-left: 15px;
}

.wjs_product .nav-tabs > li > a {
    margin-right: 0;
    line-height: 1.42857143;
    border: none;
}

.wjs_product .nav-tabs > li > a:hover {
    background: #f5f5f5;
}

.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 3px solid #e92322;
}

.wjs_product .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.wjs_product .nav-tabs.nav-justified > li {
    float: none;
}

.wjs_product .nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}

.wjs_product .nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .wjs_product .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .wjs_product .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}

.wjs_product .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}

.wjs_product .nav-tabs.nav-justified > .active > a,
.wjs_product .nav-tabs.nav-justified > .active > a:hover,
.wjs_product .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .wjs_product .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }

    .wjs_product .nav-tabs.nav-justified > .active > a,
    .wjs_product .nav-tabs.nav-justified > .active > a:hover,
    .wjs_product .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.product_box {
    display: block;
    background: #fff;
    color: #666;
    height: 150px;
    width: 100%;
    box-shadow: 3px 3px 3px #d8d8d8;
    margin-top: 20px;
}

.product_box.active {
    background: #e92322;
    color: #fff;
    position: relative;
}
.product_box.active::before{
    content: "\e915";
    position: absolute;
    left: 0;
    top: -7px;
    font-size: 33px;
    font-family: wjs_icon_font;
}

.product_box .pro_left {
    overflow: hidden;
}

.product_box .pro_left > h3 {
    font-size: 16px;
    text-align: center;
}

.product_box .pro_left > div {
    padding: 5px 15px;
}

.product_box .pro_left > div:nth-of-type(2n) {
    text-align: right;
}

.product_box .pro_left > div p {
    margin: 0;
    font-size: 12px;
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.product_box .pro_right {
    width: 80px;
    height: 150px;
    float: right;
    position: relative;
    border-left: 1px dashed #d8d8d8;
}

.product_box .pro_right::before,
.product_box .pro_right::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 6px;
    position: absolute;
    left: -6px;
    background: #f5f5f5;
}
.product_box .pro_right::before{
    top: -6px;
    box-shadow: 0 -2px 2px #d8d8d8 inset;
}
.product_box .pro_right::after{
    bottom: -6px;
    box-shadow: 0 2px 2px #d8d8d8 inset;
}


.product_box .pro_right p {
    text-align: center;
}

/*p:first-child  先找父元素 找到所有的子元素  在去找第一个子元素  匹配是不是p  如果不是无效的选择器*/
/*p:first-of-type 先找父元素 找到所有的p元素  找第一个*/
/*p:last-of-type 最后Y*/
/*p:nth-of-type 第几个*/
/*p:nth-last-of-type 倒数第几个*/
.product_box .pro_right p:first-of-type {
    padding-top: 30px;
    color: #e92322;
}

.product_box.active .pro_right p:first-of-type {
    color: #fff;
}

.product_box .pro_right p:first-of-type b {
    font-size: 50px;
}

.product_box .pro_right p:first-of-type sub {
    bottom: 0;
}

.product_box .pro_right p:last-of-type {
}

.product_box .pro_right .tips {
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    width: 100%;
}

.product_box .pro_right .tips span {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
}

.product_box .pro_right .tips .green {
    color: green;
    border-color: green;
}

.product_box .pro_right .tips .red {
    color: red;
    border-color: red;
}

/*新闻*/
.wjs_news{
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
.wjs_news .wjs_news_title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.wjs_news .wjs_news_title::after{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    right: -6px;
    bottom: -3px;
    border:1px solid #ccc;
}
.wjs_news .wjs_news_line{
    position: absolute;
    top: 0;
    left: 45px;
    height: 100%;
    width: 1px;
    border-left: 1px dashed #ccc;
}
.wjs_news .wjs_news_con{
    list-style: none;
}
.wjs_news .wjs_news_con li{
    padding: 15px 0;
}
/*
1.在小屏设备  间距不变  没有虚线
2.在超小屏  间距自适应  没有虚线
*/
.wjs_news_tabs {
    border: none;
}
.wjs_news_tabs > li {
    float: left;
    margin-bottom: 0;
}
.wjs_news_tabs > li > a {
    border: none;
    background: #ccc;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: #fff;
    margin-bottom: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    padding: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
    .wjs_news_tabs > li > a{
        margin: 30px 50px;
    }
}
@media (max-width: 768px) {
    .wjs_news_tabs > li{
        width: 25%;
    }
    .wjs_news_tabs > li > a{
        margin: 30px auto;
    }
}
.wjs_news_tabs > li:last-child > a{
    margin-bottom: 0;
}
.wjs_news_tabs > li > a:hover {
    background: #e92322;
    border: none;
}
.wjs_news_tabs > li.active > a,
.wjs_news_tabs > li.active > a:hover,
.wjs_news_tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #e92322;
    border: none;
}
.wjs_news_tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.wjs_news_tabs.nav-justified > li {
    float: none;
}
.wjs_news_tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.wjs_news_tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .wjs_news_tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .wjs_news_tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.wjs_news_tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.wjs_news_tabs.nav-justified > .active > a,
.wjs_news_tabs.nav-justified > .active > a:hover,
.wjs_news_tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .wjs_news_tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .wjs_news_tabs.nav-justified > .active > a,
    .wjs_news_tabs.nav-justified > .active > a:hover,
    .wjs_news_tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}


/*合作伙伴*/
.wjs_partner{
    padding: 30px 0;
}

.wjs_partner ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
.wjs_partner ul li{
    display: inline-block;
    margin: 0 30px;
}
.wjs_partner ul li a:hover{
    color: #e92322;
}
.wjs_partner ul li a span{
    font-size: 60px;
}